<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Libros</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Libros Disponibles</h2>

<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Fecha de Publicación</th>
        <th>Editorial</th>
        <th>Categoría</th>
        <th>Stock Total</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script src="../static/js/books.js"></script>
</body>

</html>
